@charset "utf-8";
@import url(fonts.css);
@import url(all.min.css);
html {font-size: 0.625rem /* 10px */;}
body {font-size: 1.6rem; font-family: 'Lato', sans-serif; color: rgba(0,0,0,0.6);}
/* common */
#container section {padding: 100px 0;}
#container h2{font-family: 'Yeseva One', serif; font-size: 3.4rem; color: #000; margin-bottom: 20px; text-align: center;}
.inner {max-width: 1280px; margin: 0 auto;}
.inner h3{font-family: 'Yeseva One', serif; font-size: 2.0rem; margin-bottom: 15px; color: rgba(0,0,0,0.8);}
.inner .desc{margin: 0 auto 40px; line-height: 1.7; font-size: 1.4rem;}
.inner figure {margin-bottom: 20px; overflow: hidden;}
.btn_area {margin-top: 50px; text-align: center;}
.btn_area > a {position: relative; display: inline-block; width: 180px; height: 50px; margin: 0 5px; border-radius: 5px; font-size: 1.8rem; line-height: 50px; text-align: center; font-weight: 500; overflow: hidden;}
.btn_area > a::before{content: ''; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background: #ff9a1f; transition: all 0.3s;}
.btn_area > a:hover:before, .btn_area > a:focus:before {width: 100%;}
.btn_area > a > span{position: relative; z-index: 2;}
/* header-top_header */
header{position: absolute; top: 0; left: 0; width: 100%;z-index: 10;}
header .top_header{position: relative; padding: 20px 6%; text-align: center; color: #9f9f9f; box-sizing: border-box;}
header .top_header .gnb{display: flex; width: 800px; margin: 0 auto; align-items: center; justify-content: space-between;}
header .top_header .gnb ul {float: left; text-align: center;}
header .top_header .gnb ul li{float: left; width: calc(100%/3 - 40px); margin: 0 20px;}
header .top_header .gnb ul li > a{display: block; line-height: 80px; font-size: 2.0rem;}
header .top_header .gnb ul li > a:hover,
header .top_header .gnb ul li > a:focus {color: #fc0;}
header .top_header .gnb .logo > a{display: block; overflow: hidden; width: 180px; height: 80px; background: url(../img/logo.png) no-repeat center/contain;}
header .top_header .sns {position: absolute; top: 50%; transform: translateY(-50%); left: 0;}
header .top_header .sns > a{padding: 0 10px; font-size: 2.0rem; color: rgba(255,255,255,0.6);}
header .top_header .btn_donate {position: absolute; top: 50%; right: 0; transform: translateY(-50%); padding: 6px 25px; border: 1px solid rgba(255,255,255,0.6); border-radius: 4px; color: rgba(255,255,255,0.6);}
header .top_header .sns > a:hover,
header .top_header .sns > a:focus {color: #fff;}
header .top_header .btn_donate:hover,
header .top_header .btn_donate:focus{color: #fff; background: #fc0; border-color: transparent;}
header .mobile_nav{display: none;}
/* section # main_visual */
#main_visual{display: flex; justify-content: center; align-items: center; text-align: center; height: 90vh; background: url(../img/home-hero.jpg) no-repeat center/cover;}
#main_visual .title_group > .effect {height: 80px; overflow-y: hidden; display: block;}
#main_visual .title_group > .effect strong {animation-name: appear; animation-duration: 1s;}
@keyframes appear{ from {transform: translateY(80px);} to{transform: translateY(0);}}
#main_visual .title_group {width: 50%; text-align: center;}
#main_visual .title_group strong{display: block; font-size: 5.5rem; color: #fc0; font-family: 'Yeseva One', serif; margin-bottom: 30px;}
#main_visual .title_group > p {font-size: 1.8rem; color: rgba(255,255,255,0.6); line-height: 1.8;}
#main_visual .btn_area a{background: #fc0; color: #fff; }
#main_visual .btn_area a + a {background: #201b15;}
/* container */
#container {background: #fbf5ef;}
/* project */
.project_intro{padding-bottom: 120px;}
.project_intro .project_area{position: relative; width: 80%; margin: -100px auto 0; padding: 40px 60px; background: #fff; border-radius: 10px; box-shadow: 0 0 30px rgba(0,0,0,0.25); box-sizing: border-box;}
.project_intro .project_area li{position: relative;  float: left; width: calc(100%/3); padding: 40px 0 50px; text-align: center; box-sizing: border-box;}
.project_intro .project_area .lst_project li + li::before{ content: ''; width: 1px; height: 90%; background: #ddd; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.project_intro .project_area .lst_project li:nth-child(3)~ li:after {content: ''; width: 90%; height: 1px; background: #ddd; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
.project_intro .project_area .lst_project li:nth-child(4)::before{height: 0;}
.project_intro .project_area .lst_project .desc{width: 70%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.project_intro .project_area .lst_project .btn_view{position: absolute; width: 50%; bottom: 25px; left: 50%; transform: translateX(-50%); padding: 10px 30px 10px 20px; border: 1px solid transparent; border-radius: 5px; transition: all 0.2s; color: rgba(0,0,0,0.8);}
.project_intro .project_area .lst_project .btn_view:hover{border-color: #fc0;}
.project_intro .project_area .lst_project .btn_view:after {content: '\f105'; font-family: 'Font Awesome 5 Free'; font-weight: 600; position: absolute; top: 13px; right: 12px; transition: all 0.2s;}
.project_intro .project_area .lst_project .btn_view:hover::after,
.project_intro .project_area .lst_project .btn_view:focus::after{transform: translateX(5px); color: #fc0;}
/* cauese */
.cauese {background: #fff;}
.cauese .inner > p {text-align: center;}
.cauese .lst_cauese{margin-left: -40px;}
.cauese .lst_cauese li{position: relative; float: left; width: calc(100%/3 - 40px); margin-left: 40px; box-sizing: border-box; transition: all 0.3s; overflow: hidden;}
.cauese .lst_cauese figure > img {width: 100%;}
.cauese .lst_cauese .text_box {padding: 0 25px; box-sizing: border-box;}
.cauese .lst_cauese .desc { width: 100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.cauese .lst_cauese .over_box {position: absolute; bottom: -100%; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); opacity: 0; overflow: hidden; transition: all 0.5s;}
.cauese .lst_cauese .over_box > span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 30px; border: 1px solid #fff; color: #fff; font-size: 2.0rem;}
.cauese .lst_cauese li:hover .over_box,
.cauese .lst_cauese li:focus .over_box{opacity: 1; bottom: 0;}
/* how */
#how{position: relative; height: 70vh; background: url(../img/img-life01.jpg) no-repeat left top / 50% auto;}
#how .how_text {margin-left: 50%; padding: 60px; box-sizing: border-box;}
#how .how_text h2 {margin-bottom: 50px;}
#how .how_text h3{font-size: 2.6rem; color: skyblue; font-weight: 700; margin-bottom: 16px;}
#how .how_text .desc{font-size: 1.8rem; color: rgba(0,0,0,0.6); margin-bottom: 30px; line-height: 1.8;}
#how .how_text .btn_area > a {border: 1px solid #111; color: #111;}
#how .how_text .btn_area > a::before {background: skyblue; width: 100%; height: 0;}
#how .how_text .btn_area > a:hover:before,
#how .how_text .btn_area > a:focus:before {height: 100%;}
/* partner */
#partner {background: #fff;}
#partner .lst_partner {margin-left: -30px;}
#partner .lst_partner li{float: left; width: calc(100%/4 - 30px); margin-left: 30px;}
#partner .lst_partner li figure {width: 100%; height: 200px; overflow: hidden; border-radius: 5px; margin-bottom: 0; background: no-repeat center/cover;}
#partner .lst_partner li figure.img_partner01{background-image: url(../img/parterning_Cover_2.jpg);}
#partner .lst_partner li figure.img_partner02{background-image: url(../img/parterning_Cover_3.jpg);}
#partner .lst_partner li figure.img_partner03{background-image: url(../img/partner04.png);}
#partner .lst_partner li figure.img_partner04{background-image: url(../img/partner05.png);}
#partner .lst_partner li .desc{width: 100%; height: 70px; margin-left: 0; margin-top: 10px; font-size: 1.8rem; font-weight: 500;}
#partner .lst_partner li .btn_area > a {border: 1px solid #ff9a1f; color: #ff9a1f; margin-top: 25px; transition: all 0.3s;}
#partner .lst_partner li .btn_area > a:hover,
#partner .lst_partner li .btn_area > a:focus {background: #fc0; color: #fff;}
#partner .lst_partner li .btn_area > a::before {background: transparent; color: #fff;}
/* mov */
#mov {overflow: hidden; height: auto; background: #ff9a1f; margin-bottom: 100px;}
#mov video {width: 100%; height: auto;}
/* story */
#story .top_story{height: 400px; margin-bottom: 40px;}
#story .btn_area{text-align: left; margin-top: 10px;}
#story .btn_area > a{border: 1px solid #ff9a1f; color: #ff9a1f; margin: 0;}
#story .btn_area > a:hover, #story .btn_area > a:focus{color:#fff} 
#story .top_story figure {float: left; width: 50%; height: 100%; background: url(../img/GHR1.jpg) no-repeat center/cover;}
#story .top_story .txt_story{float: left; width: 50%; height: 100%; background: #fff; padding: 30px 30px; box-sizing: border-box;}
#story  strong {display: block; margin-bottom: 20px; font-weight: 700; font-size: 2.8rem; line-height: 1.2; color: #111; height: 70px;} 
#story .desc {margin-left: 0; font-size: 2.0rem; color: rgba(0,0,0,0.8); margin-bottom: 60px; word-break: keep-all; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;} 
#story .top_story .txt_story time {display: block; font-size: 1.4rem; margin-top: 15px;} 
#story .bot_story {margin-left: -30px;}
#story .bot_story li {float: left; width: calc(100%/2 - 30px); margin-left: 30px;}
#story .bot_story figure {overflow: hidden; height: 440px;}
#story .bot_story figure img {width: 100%;}
#story .bot_story strong{font-size: 2.8rem;}
/* footer */
footer{padding: 30px 0; background: #333;}
footer .inner{color: rgba(255,255,255,0.4);}
footer .top_area .about{float: left; width: 50%;}
footer .top_area .about > .title{font-weight: 700; margin-bottom: 10px;}
footer .top_area .about > .desc{margin-left: 0; width: 100%; line-height: 1.5; color: rgba(255,255,255,0.4);}
footer .top_area .util{float: right; width: 30%; text-align: right;}
footer .top_area .util .sns > a {font-size: 2.0rem; margin-left: 10px;}
footer .top_area .util .sns > a:hover,footer .top_area .util .sns > a:focus{color: rgba(255,255,255,0.8);}
footer .top_area .util address{margin-top: 30px;}
footer .copy {text-align: center;margin-top: 10px; padding-top: 20px; border-top: 1px solid rgba(255,255,255,0.4); color: rgba(255,255,255,0.6); font-size: 1.4rem;}
